<div id="mm-preloader" class="mm-preloader-overlay" aria-hidden="true">
  <div class="mm-preloader-box">
    <div class="mm-preloader-spinner"></div>
    <div><%= l(:label_security_scanning) %></div>
  </div>
</div>
