<div class="mm-actions">
  <%= link_to l(:label_add_security_scan), monitoring_security_scan_path(tab: current_tab), class: 'mm-btn mm-btn--primary js-preloader' %>
</div>

<%= render partial: 'monitoring_errors/common/preloader' %>
